.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
}

/* Media query for screens with a maximum width of 480px (mobile) */
@media screen and (max-width: 480px) {
  .posts {
    margin: 10px; /* Adjust the margin as needed for mobile */
  }
}
