.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(121, 118, 118);
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  height: 100vh;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 481px) {
  .writeImg {
    margin-left: 10px; /* Adjust margin for smaller screens */
    width: 90vw; /* Adjust image width for smaller screens */
    height: 200px; /* Adjust image height for smaller screens */
  }

  .writeFormGroup {
    margin-left: 10px; /* Adjust margin for smaller screens */
  }

  .writeIcon {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .writeInput {
    font-size: 24px; /* Adjust font size for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
    width: 90vw; /* Adjust input width for smaller screens */
  }

  .writeText {
    font-size: 18px; /* Adjust font size for smaller screens */
    height: auto; /* Remove fixed height for smaller screens */
  }

  .writeSubmit {
    top: 10px; /* Adjust top position for smaller screens */
    right: 10px; /* Adjust right position for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  /* Add any other mobile-specific styles as needed */
}
