.contact-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1508717272800-9fff97da7e8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-container p {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-form .form-group {
  margin-top: 25px;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  resize: vertical;
}

.submit-button {
  background-color: #343535;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.social-icons {
  margin-top: 40px;
  font-size: 20px;
}

.social-icons a {
  margin-right: 20px;
  text-decoration: none;
  color: #007bff;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

@media (max-width: 600px) {
  .contact-container {
    padding: 10px;
  }
}
